{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card mb-3">
              <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
      </div>
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                  <div class="col-md-12">
                      <div class="card-body">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">{{product.description}}</p>
                          <p class="card-text"><small class="text-body-secondary">${{product.price}}</small></p>

                          <h5>Quantity</h5>
                          <select class="form-select" id="qty-cart">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                          </select>

                          <br>

                        
                          <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                          
                        {% if user.is_authenticated %}
                          <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
                        {% endif %}
                        <br><br>
                        {% if not user.is_authenticated %}
                          <h6>Please Login or Register to purchase this device</h6>
                          <br>
                          <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
                          <a href="{% url 'register' %}" class="btn btn-secondary">Register</a> 
                        {% endif %}
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
  // Check if button pressed
  $(document).on('click', '#add-cart', function(e){
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: '{% url 'cart_add' %}',
          data: {
      product_id: $('#add-cart').val(),
      product_qty: $('#qty-cart option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
          },
  
          success: function(json){
              //console.log(json)
              document.getElementById("cart_quantity").textContent = json.qty
          },
  
          error: function(xhr, errmsg, err){
  
          }
  
  
      });
  
  
  
  })
  
  
  
  
  </script>

{% endblock %}